/* 背景色 */
body {
	background: #FFF;
}

/* 影の取り消し */
.mr-container-outer {
	margin: auto;
	-webkit-box-shadow: none;
}

body {
  overflow-x: hidden;
}

/* フッターの横幅調整 */
.mr-copyright-wrap {
	margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
}

/* ナビゲーションの横幅調整 */
.menu {
	margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
}

/* リストスタイル */
.entry-content ul li {
	padding:0px;
	margin:0px;
}

.entry-content ul li {
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}

.entry-content ul li {
	position:relative;
	padding-left:20px;
}

.entry-content ul li:after, .entry-content ul li:before{
	content:'';
	display:block;
	position:absolute;
	top:4px;
	left:8px;
	height:11px;
	width:4px;
	background:#aaa;
	border-radius:10px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.entry-content ul li:before{
	top:8px;
	left:3px;
	height:8px;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
}

.entry-content ol {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
}

.entry-content ol li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.entry-content ol li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  background-color: #e64946;
  color: #ffffff;
  display: block;
  float: left;
  line-height: 22px;
  margin-left: -30px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

/* authorboxスタイル */
.mr-author-box-avatar, .mr-author-box-avatar img {
	border-radius: 50%
}

/* タグクラウドスタイル */
.tagcloud a {
	border-radius: 10px
}

/* codeスタイル */
.entry-content p code {
	padding: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0.2em;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}

.separator {
	height: 20px
}

.ad_ninja span{
	padding: 5px
}

.ad_ninja {
	padding: 10px;
	background-color: #eee;
	text-align: center;
}

@media screen and (min-width: 1125px) {
	.mr-header-text {
		float: left;
		position : absolute;
		bottom : 10px;
	}
	.mr-header-title {
		font-size: 1.8rem
	}
	.mr-header-tagline {
		font-size: 0.775rem
	}
	.mr-header-text-right {
		padding: 10px;
		text-align: center;
		background-color: #eee;
		float: right;
		width: 728px;
	}
	.widget_ad_side {
		display: none;
	}
}

@media screen and (max-width: 1124px) {
	.mr-header-text-right {
		display: none;
	}
}

.entry-content tr th {
	background-color: #e64946;
	color: #ffffff;
}

.main-content pre {
    background-color: #272822;
    color: #f8f8f2;
}
