/* 背景色 */
body {
	background: #FFF;
}

/* 影の取り消し */
.mr-container-outer {
	margin: auto;
	-webkit-box-shadow: none;
}

body {
  overflow-x: hidden;
}

/* ナビゲーションの横幅調整 */
.menu {
	margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
}

/* リストスタイル */
.entry-content ul li {
	padding:0px;
	margin:0px;
}

.entry-content ul li {
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}

.entry-content ul li {
	position:relative;
	padding-left:20px;
}

.entry-content ul li:after, .entry-content ul li:before{
	content:'';
	display:block;
	position:absolute;
	top:4px;
	left:8px;
	height:11px;
	width:4px;
	background:#aaa;
	border-radius:10px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.entry-content ul li:before{
	top:8px;
	left:3px;
	height:8px;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
}

.entry-content ol {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
}

.entry-content ol li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.entry-content ol li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  background-color: #e64946;
  color: #ffffff;
  display: block;
  float: left;
  line-height: 22px;
  margin-left: -30px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

/* authorboxスタイル */
.mr-author-box-avatar, .mr-author-box-avatar img {
	border-radius: 50%
}

/* タグクラウドスタイル */
.tagcloud a {
	border-radius: 10px
}

/* codeスタイル */
.entry-content p code {
	padding: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0.2em;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}

.separator {
	height: 20px
}

.ad_ninja span{
	padding: 5px
}

.ad_ninja {
	padding: 10px;
	background-color: #eee;
	text-align: center;
}

@media screen and (min-width: 1125px) {
	.mr-header-text {
		float: left;
		position : absolute;
		bottom : 10px;
	}
	.mr-header-title {
		font-size: 1.8rem
	}
	.mr-header-tagline {
		font-size: 0.775rem
	}
	.mr-header-text-right {
		padding: 10px;
		text-align: center;
		background-color: #eee;
		float: right;
		width: 728px;
	}
	.widget_ad_side {
		display: none;
	}
	/* フッターの横幅調整 */
	.mr-copyright-wrap {
		margin-left: -500%;
		margin-right: -500%;
		padding-left: 500%;
		padding-right: 500%;
	}
}

@media screen and (max-width: 1124px) {
	.mr-header-text-right {
		display: none;
	}
}

.entry-content tr th {
	background-color: #e64946;
	color: #ffffff;
}

.main-content pre {
    background-color: #272822;
    color: #f8f8f2;
}


/*--------------------------------------
  ヨメレバ・カエレバ（レスポンシブ）
--------------------------------------*/
.booklink-box, .kaerebalink-box{
    padding:25px;
    margin-bottom: 10px;
    border:double #CCC;
    overflow: hidden;
    font-size:small;
}
.booklink-image, .kaerebalink-image{
    margin:0 15px 0 0;
    float:left;
    min-width: 160px;
    text-align: center;
}
.booklink-image img, .kaerebalink-image img{
    margin:0 auto;
    text-align:center;
}
.booklink-info, .kaerebalink-info{
    margin:0;
    line-height:120%;
    overflow: hidden;
}
.booklink-name, .kaerebalink-name{
    margin-bottom:24px;
    line-height:1.5em;
}
.booklink-powered-date, .kaerebalink-powered-date{
     font-size:8px;
     margin-top:10px;
     font-family:verdana;
     line-height:120%;
}
.booklink-detail, .kaerebalink-detail{font-size: 12px;}
.booklink-powered-date, .kaerebalink-detail{margin-bottom:15px;}
.booklink-link2, .kaerebalink-link1{margin-top:10px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:30%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    margin:5px 2px 0 0;
    padding:10px 1px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-weight:800;
    text-shadow:1px 1px 1px #dcdcdc;
    font-size:12px;
    color: #fff !important;
}
.booklink-link2 a:hover,
.kaerebalink-link1 a:hover{opacity: 0.6;}
.booklink-link2 a:active
.kaerebalink-link1 a:active{
    position:relative;
    top:1px;
}
/*ボタンを変えるときはここから*/
.shoplinkamazon a{background-color:#FF9901 !important;}
.shoplinkrakuten a{background-color:#c20004 !important;}
.shoplinkrakukobo a{background-color:#c20004 !important;}
.shoplinkkindle a{background-color:#007dcd !important;}
.shoplinkkakakucom a{background-color:#314995 !important;}
.shoplinkyahoo a{background-color:#7b0099 !important;}
/*ここまでを変更*/
.shoplinkyahoo img{display:none;}
.shoplinkyahoo a{font-size:10px;}
.booklink-footer{display: none;}

@media screen and (max-width: 680px) {
.booklink-box, .kaerebalink-box{padding:15px;}
.booklink-image, .kaerebalink-image{
    width: 100px !important;
    min-width: initial;
}
.booklink-name > a, .kaerebalink-name > a{
    font-size: 15px;
    font-weight: bold;
}
.booklink-name, .kaerebalink-name{margin-bottom:12px;}
.booklink-powered-date, .kaerebalink-powered-date{margin-top:5px;}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:calc(100% - 4px);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin: 2px 0px;
    padding:10px 0px;
}
}
