<div class="mr-widget widget_ad_side">
	<h4 class="mr-widget-title"><span class="mr-widget-title-inner">Sponcerd Link</span></h4>
	<div class="adside">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- githubpages_largesky -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:300px;height:600px"
		     data-ad-client="ca-pub-4802597269756689"
		     data-ad-slot="7565262851"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
